/* Video behind all pages */
.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}

/* Main page title */
.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 1em;
  padding: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

/* General advance button */
.button {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.button:hover {
  background-color: #61b9e2;
  border-color: #4fb5e4;
}

.button:active {
  position: relative;
  top: 1px;
}

/* Change button to right alignment */
.button-right {
  text-align: center;
}

/* Fish button for what page */
.fish-button {
  padding-top: 2em;
  display: inline-block;
  animation: wiggle 2.5s infinite;
  max-width: 15em;
}

.fish-button:hover {
  animation: none;
  transform: scale(1.1);
}

/* Author name on index */
.name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.name a {
  text-decoration: none;
  color: white;
}

.name a:hover {
  color: #61b9e2;
}

/* Hide site link on mobile */
.qr-code {
  display: none;
}

/* Styling for content background */
.content {
  position: relative;
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  margin: none;
  padding: 2em;
  overflow: auto;
}

/* Image styles */
figcaption {
  font-style: italic;
  color: #d4cece;
}

figure img {
  width: 100%;
}

/* Reference links */
.ref {
  vertical-align: super;
  font-size: smaller;
  color: #44c767;
  text-decoration: none;
}

.ref:hover {
  color: #61b9e2;
}

a {
  color: #44c767;
  text-decoration: none;
}

a:hover {
  color: #61b9e2;
}

/* Choice page background */
.choice {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 1em;
  padding: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

/* Buttons and container for choice pages */
.parent {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.betta-child,
.pleco-child {
  height: 10em;
  width: 15em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.betta-child img {
  object-fit: cover;
  width: 100%;
}

.pleco-child img {
  object-fit: cover;
  height: 100%;
}

li {
  padding: 1em 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .content {
    margin: 0 5%;
  }

  .button-right {
    text-align: right;
  }

  /* Image alignment for article pages */
  .left {
    float: left;
    margin: 1em 2em 1em 0;
    clear: left;
  }

  .right {
    float: right;
    margin: 1em 0 1em 2em;
    clear: right;
  }

  .left,
  .right {
    max-width: 20%;
  }

  .center {
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .betta-child,
  .pleco-child {
    height: 20em;
    width: 25em;
    transition: transform 0.2s;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .visit {
    transition: transform 0.2s;
  }

  .visit:hover {
    transform: scale(1.1);
  }

  .content {
    margin: 0 10%;
  }

  .parent {
    flex-direction: row;
    padding-top: 2em;
    gap: 2em;
  }

  .betta-child,
  .pleco-child {
    height: 25em;
    width: 30em;
    transition: transform 0.2s;
  }

  .betta-child:hover,
  .pleco-child:hover {
    transform: scale(1.1);
  }

  .qr-code {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.5em;
  }

  .qr-code img {
    width: 25px;
    height: 25px;
    transition: 0.2s;
    border-radius: 2px;
  }

  .qr-code img:hover {
    width: 500px;
    height: 500px;
    border-radius: 2em;
  }

  ol {
    padding: 0 10em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .content {
    margin: 0 15%;
  }
}

/* Animation for .fish-button */
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
